.mywork{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 10%;
}

.mywork-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}
.mywork-container img{
    width: 100%;
    transition: 0.3s;
    cursor: pointer;
}

@media(max-width:768px){
    .mywork{
        gap: 50px;
        margin: 50px 6%;
        align-items: start;
    }
    
    .mywork-container{
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}